div {
    background-color: rgb(50, 50, 50);
}

body {
    background-color:#ccc;
}

* {
    margin: 0;
}

.nav, .logo, .search-bar, .login-reg {
    display: flex;
    align-items: center;
}

.nav {
    padding: 10px 30px;
    color: white;
}

.logo {
    display: flex;
    font-size: 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #fff;

    margin: 0 auto;
}

.search-bar > input {
    border: none;
    background-color: white;
    max-width: 100%;
    font-size: 1.3rem;
    outline: none;
    flex: 1;
}

.login-reg {
    display: flex;
    margin-right: 60px;
    font-size: 1.3rem;
}

.cart > img {
    max-width: 4rem;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.logo > img {
    max-width: 6rem;
    margin-right: 20px;
}

.search-bar > img {
    max-width: 2rem;
    margin-left: 5px;
}

.login-reg > img {
    max-width: 4rem;
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-right: 10px;
}

.flexbox-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.product-card {
    background-color: rgb(36, 36, 36);
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    width: 500px;
    height: 600px;
    text-align: center;
    flex-basis: 25%;
    color: white;
}

.product-card > img {
    width: 400px;
}

.product-card > h2 {
    font-size: 40px;
    padding-top: 40px;
}

.product-card > button {
    background-color: #00cc00;
    border: none;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    margin-top: 50px;
    border-radius: 25px;
    width: 300px;
    height: 70px;
    font-size: 30px;
}

.title {
    text-align: center;
    background-color: rgb(50, 50, 50);
    font-size: 60px;
    font-weight: bolder;
}

.page-bar {
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 200px;
    font-size: 40px;
}

.next-page-button {
    background-color: #00cc00;
    border: none;
    color: black;
    margin-top: 50px;
    border-radius: 25px;
    width: 300px;
    height: 70px;
    font-size: 30px;
    align-self: right;
    margin-right: 0px;
}

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.next-page-container {
    display: flex;
    width: 100%; 
    justify-content: flex-end;  
    margin-top: 30px;
}

.login-card {
    background-color: rgb(36, 36, 36);
    width: 600px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

.login-card h1 {
    color: #00cc00;
    font-size: 40px;
    margin-bottom: 30px;
}

.login-card h1 {
    color: #00cc00;
    font-size: 40px;
    margin-bottom: 30px;
}

.email-field, .password-field {
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.email-field p, .password-field p {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.email-field input, .password-field input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(220, 220, 220);
}

.login-card button {
    background-color: #00cc00;
    color: white;
    font-size: 24px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}